<%# HOME CAROUSEL %>
<div class="carousel" data-carousel="1" data-speed="5000">
  <span class="carousel-control-left"></span>
  <span class="carousel-control-right"></span>

  <div class="carousel-content">
    <!-- add extra last pic first and extra first pic last for hover effect to work properly  -->
    <img src="https://images.unsplash.com/photo-1591085686350-798c0f9faa7f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80" alt="image 3" />

    <img src="https://images.unsplash.com/photo-1483181994834-aba9fd1e251a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="image 1" />

    <img src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" alt="image 2" />

    <img src="https://images.unsplash.com/photo-1591085686350-798c0f9faa7f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80" alt="image 3" />

    <img src="https://images.unsplash.com/photo-1483181994834-aba9fd1e251a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="image 1" />
  </div>
</div>


<%# /////////////////////////////////////////////////////// %>

<%# <section class="carousel-wrapper"></section>
  <button class="carousel-arrow" id="carousel-arrow-prev">
    &#8249;
  </button>
  <button class="carousel-arrow" id="carousel-arrow-next">
    &#8250;
  </button>

  <ul class="main-banner carousel-container" id="carousel-container">
    <li class="carousel-slide"></li>
    <li class="carousel-slide"></li>
    <li class="carousel-slide"></li>
  </ul>
</section> %>
