<%# HOME CAROUSEL %>

<section class="carousel-wrapper"></section>
  <button class="carousel-arrow" id="carousel-arrow-prev">
    &#8249;
  </button>
  <button class="carousel-arrow" id="carousel-arrow-next">
    &#8250;
  </button>

  <ul class="main-banner carousel-container" id="carousel-container">
    <li class="carousel-slide"></li>
    <li class="carousel-slide"></li>
    <li class="carousel-slide"></li>
  </ul>
</section>



<%# /////////////////////////////////////////////////////// %>
