/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 // External Libraries
 @import "font-awesome";
 @import "bootstrap";

 // Font imports
 @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
 // font-family: 'Bungee Spice', cursive;

 @import url("https://www.dafontfree.net/embed/bWV0cm9wb2xpcy1zZW1pLWJvbGQmZGF0YS81Mi9tLzE1NjgwMi9NZXRyb3BvbGlzLVNlbWlCb2xkLm90Zg");
 // font-family: 'metropolis-semi-bold', sans-serif;


 // CSS PARTIALS
 @import "pages/home";
 @import "pages/product";
 @import "pages/product_show";
 @import "components/index";



// local fonts

@font-face {
  font-family: "Metropolis";
  src: url("/app/assets/fonts/Metropolis/EOT/Metropolis-Black.eot");
  src: url("/app/assets/fonts/Metropolis/WOFF/Metropolis-Black.woff") format("woff"),
  url("/app/assets/fonts/Metropolis/WOFF2/Metropolis-Black.woff2") format("woff2"),
  }
