<div class="card-product">
  <img src="https://cdn.shopify.com/s/files/1/0615/7913/products/PNG01137-web_400x400_crop_center.jpg?v=1661316048" alt="Denim Jeans">
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p class="price">R$129.99</p>
    <p>Some text about the jeans..</p>
  </div>
</div>
