<%# HEADER  %>
<header class="header-container">
  <%= link_to "/", class: "header-logo" do %>
    <%= image_tag "logo.png"%>
  <% end %>
  <div class="header-search-bar">
    <input type="search" id="site-search" name="q">
    <button class="header-search-btn">Search</button>
  </div>
</header>

<%# DIVIDER %>
<div class="divider-container">
  <span class="nav-divider"></span>
</div>

<%# NAV-LINKS  %>
<nav class="js-nav" js-navDontShow">
  <ul class="nav-list">
    <li class="nav-list-links"><a href="/" class="nav-each-link">Blusas</a></li>
    <li class="nav-list-links"><a href="/" class="nav-each-link">Calças</a></li>
    <li class="nav-list-links"><a href="/" class="nav-each-link">Saias</a></li>
    <li class="nav-list-links"><a href="/" class="nav-each-link">Shorts</a></li>
    <li class="nav-list-links"><a href="/" class="nav-each-link">Vestidos</a></li>
    <li class="nav-list-links"><a href="/" class="nav-each-link">Acessórios</a></li>
  </ul>
</nav>

<%# PRODUCT CARD %>

<div class="card-product">
  <img src="https://cdn.shopify.com/s/files/1/0615/7913/products/PNG01137-web_400x400_crop_center.jpg?v=1661316048" alt="Denim Jeans">
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p class="price">R$129.99</p>
    <p>Some text about the jeans..</p>
  </div>
</div>


<%# DIVIDER %>

<div class="divider-container">
  <span class="footer-divider"></span>
</div>

<%# FOOTER %>

<div class="footer-container">
  <%= link_to "/", class: "footer-logo" do %>
    <%= image_tag "logo-footer.png"%>
  <% end %>
  <div class="footer-medias">
    <a href="/"><i class="fa-brands fa-square-facebook medias-icon"></i></a>
    <a href="/"><i class="fa-brands fa-square-instagram medias-icon"></i></a>
    <a href="/"><i class="fa-brands fa-square-whatsapp medias-icon"></i></a>
    <a href="/"><i class="fa-brands fa-square-twitter medias-icon"></i></a>
  </div>

</div>

<div class="copyrigth">
  <h4 class="copyrigth-text">© 2022-2023 You Moda Feminina, Inc.</h4>
</div>



<%# PRODUCT CARD 2 - EXEMPLE https://github.com/fariasmateuss/product-card-design/blob/master/src/styles/index.css %>

<section>
        <div class="container">
          <div class="product-card">
            <div class="shoeBackground">
              <div class="gradients">
                <div class="gradient second" color="blue"></div>
                <div class="gradient" color="red"></div>
                <div class="gradient" color="green"></div>
                <div class="gradient" color="orange"></div>
                <div class="gradient" color="black"></div>
              </div>
              <img src="https://cdn.shopify.com/s/files/1/0615/7913/products/PNG01137-web_400x400_crop_center.jpg?v=1661316048" alt="Denim Jeans">
              <a href="#" class="share"><i class="fas fa-share-alt"></i></a>


            </div>
            <div class="info">
              <div class="shoeName">
                <div>
                  <h1 class="big">Product name</h1>
                  <span class="new">new</span>
                </div>
                <h3 class="small">Product "headline"</h3>
              </div>
              <div class="description">
                <h3 class="title">Product Info</h3>
                <p class="text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's.
                </p>
              </div>
              <div class="color-container">
                <h3 class="title">Color</h3>
                <div class="colors">
                  <span
                    class="color active"
                    primary="#2175f5"
                    color="blue"
                  ></span>
                  <span class="color" primary="#f84848" color="red"></span>
                  <span class="color" primary="#29b864" color="green"></span>
                  <span class="color" primary="#ff5521" color="orange"></span>
                  <span class="color" primary="#444" color="black"></span>
                </div>
              </div>
              <div class="size-container">
                <h3 class="title">size</h3>
                <div class="sizes">
                  <span class="size">7</span>
                  <span class="size">8</span>
                  <span class="size active">9</span>
                  <span class="size">10</span>
                  <span class="size">11</span>
                </div>
              </div>
              <div class="buy-price">
                <a href="#" class="buy">
                  <span class="priceBtn"></span>
                  <i class="fas fa-shopping-cart"></i>
                  Add to card
                </a>
                <div class="price">
                  <h1>
                    <i class="fas fa-real-sign"></i>
                    R$129.99
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <%# <script src="https://kit.fontawesome.com/a81368914c.js"></script> %>
    <%# <script src="./src/index.js"></script> %>


<%# PRODUCT CARD 3 - EXEMPLE https://www.klothsboutique.com.br/calcas/calca-pantalona-atenas %>

<section>
        <div class="container">
          <div class="product-card">
<%# ------------ GALLERY SLIDER  -------------------%>
            <!-- Container for the image gallery -->
            <div class="container-product">

              <!-- Full-width images with number text -->
              <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                  <img src="https://m2.jeans-industry.fr/287681-large_bis/jeans-mom.jpg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                  <img src="https://img01.ztat.net/article/spp-media-p1/99175a47607b38028952cdfa39a16558/f7db34e1888749b29440b1eb9fd9b78c.jpg?imwidth=1800" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                  <img src="img_mountains_wide.jpg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                  <img src="img_lights_wide.jpg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                  <img src="img_nature_wide.jpg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                  <img src="img_snow_wide.jpg" style="width:100%">
              </div>

              <!-- Next and previous buttons -->
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>

              <!-- Image text -->
              <div class="caption-container">
                <p id="caption"></p>
              </div>

              <!-- Thumbnail images -->
              <div class="row">
                <div class="column">
                  <img class="demo cursor" src="https://m2.jeans-industry.fr/287681-large_bis/jeans-mom.jpg" alt="Denim Jeans" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                </div>
                <div class="column">
                  <img class="demo cursor" src="https://img01.ztat.net/article/spp-media-p1/99175a47607b38028952cdfa39a16558/f7db34e1888749b29440b1eb9fd9b78c.jpg?imwidth=1800" alt="Denim Jeans" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                </div>
                <div class="column">
                  <img class="demo cursor" src="https://cdn.shopify.com/s/files/1/0615/7913/products/PNG01137-web_400x400_crop_center.jpg?v=1661316048" alt="Denim Jeans" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                </div>
                <div class="column">
                  <img class="demo cursor" src="https://cdn.shopify.com/s/files/1/0615/7913/products/PNG01137-web_400x400_crop_center.jpg?v=1661316048" alt="Denim Jeans" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                </div>
                <div class="column">
                  <img class="demo cursor" src="https://cdn.shopify.com/s/files/1/0615/7913/products/PNG01137-web_400x400_crop_center.jpg?v=1661316048" alt="Denim Jeans" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
                </div>
                <div class="column">
                  <img class="demo cursor" src="https://cdn.shopify.com/s/files/1/0615/7913/products/PNG01137-web_400x400_crop_center.jpg?v=1661316048" alt="Denim Jeans" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
                </div>
              </div>
            </div>

<%# ------------ /GALLERY SLIDER  -------------------%>

            </div>
            <div class="info">
              <div class="shoeName">
                <div>
                  <h1 class="big">Product name</h1>
                  <span class="new">new</span>
                </div>
                <h3 class="small">Product "headline"</h3>
              </div>
              <div class="description">
                <h3 class="title">Product Info</h3>
                <p class="text">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's.
                </p>
              </div>
              <div class="color-container">
                <h3 class="title">Color</h3>
                <div class="colors">
                  <span
                    class="color active"
                    primary="#2175f5"
                    color="blue"
                  ></span>
                  <span class="color" primary="#f84848" color="red"></span>
                  <span class="color" primary="#29b864" color="green"></span>
                  <span class="color" primary="#ff5521" color="orange"></span>
                  <span class="color" primary="#444" color="black"></span>
                </div>
              </div>
              <div class="size-container">
                <h3 class="title">size</h3>
                <div class="sizes">
                  <span class="size">7</span>
                  <span class="size">8</span>
                  <span class="size active">9</span>
                  <span class="size">10</span>
                  <span class="size">11</span>
                </div>
              </div>
              <div class="buy-price">
                <a href="#" class="buy">
                  <span class="priceBtn"></span>
                  <i class="fas fa-shopping-cart"></i>
                  Add to card
                </a>
                <div class="price">
                  <h1>
                    <i class="fas fa-real-sign"></i>
                    R$129.99
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
